
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.big-calendar{
  margin: auto;
  
}

.big-calendar .rbc-event {
  background-color: rgb(208, 178, 176);
}


.big-calendar .rbc-row{
  min-height: 30px;
}


.big-calendar .rbc-month-header{
  background-color: gray;
}

.big-calendar .rbc-day-bg {
  background-color: rgba(221, 217, 217, 0.747);
  /* background-color: gainsboro; */

}

.big-calendar  .rbc-off-range-bg{
  background-color: gainsboro;
  /* background-color: rgb(177, 175, 175); */


}

.big-calendar .rbc-toolbar .rbc-toolbar-label{
  color: black;
  font-size: 40px;
}


.big-calendar .rbc-button-link{
color:  black(107, 19, 240);
font-weight: bold;
font-size: larger;
font-family:cursive ;

}


.big-calendar .rbc-header{
padding: 8px 5px;
font-family: cursive;
font-size: larger;
}


.big-calendar .rbc-toolbar-label {
font-size: x-large;
font-weight: bolder;
}

.big-calendar .rbc-day-bg .rbc-off-range-bg{
background-color: black;
}





